<!DOCTYPE html>
<html lang="es">
<!--Head-->
<%-include('./partials/head')%> 

<body class="editar-producto">

    <!--Header-->
    <%-include('./partials/header')%>

    <main>
        <h3>Editar Producto</h3>

        <form action="/products/editProduct/<%= producto.id %>?_method=PUT" method="POST">
            <div class="primero">
                <div class="form">
                    <label>Nuevo producto</label>
                    <input type="text" name="nombre" value="<%= producto.nombre %>">
                </div>
                <div class="form">
                    <label>Descripción del producto</label>
                    <input type="text" name="descripcion" value="<%= producto.descripcion %>">
                </div>
                <div class="form">
                    <label>Imagen</label>
                    <div class="img">
                        <!-- <p>image</p> -->
                    </div>
                    <div class="galeria">
                        <button>Abrir Galeria</button>
                        <input class="button-file" type="file" name="image" accept="image/*" multiple>
                    </div>
                    
                </div>
            </div>
    
            <div class="segundo">
                <div class="form">
                    <label>Categoria</label>
                    <select name="categoria" id="categorias">
                        <option value="select" hidden selected><%= producto.Categoria.nombre %></option>
                        <option value="1">Remeras</option>
                        <option value="2">Camperas</option>
                        <option value="3">Pantalones</option>
                        <option value="4">Camisetas</option>
                        <option value="5">Zapatillas</option>
                        <option value="6">Shorts</option>
                        <option value="7">Gorras</option>
                        <option value="8">Bolsos</option>
                        <option value="9">Riñoneras</option>
                        <option value="10">Mochilas</option>
                        <option value="11">Conjuntos</option>
                        <option value="12">Sweaters</option>
                        <option value="13">Buzos</option>
                    </select>
                </div>
                <div class="form">
                    <label>Talles</label>
                    <div class="checkbox">
                        <div>
                            <input type="checkbox" name="talle" value="1" class="size">XS
                        </div>
                        <div>
                            <input type="checkbox" name="talle" value="2" class="size">S
                        </div>
                        <div>
                            <input type="checkbox" name="talle" value="3" class="size">M
                        </div>
                        <div>
                            <input type="checkbox" name="talle" value="4" class="size">L
                        </div>
                        <div>
                            <input type="checkbox" name="talle" value="5" class="size">XL
                        </div>
                    </div>
                </div>
                <div class="form">
                    <label>Genero</label>
                    <select name="genero" id="genero">
                        <option value="categorias" hidden selected><%= producto.Genero.nombre %> </option>
                        <option value="1">Hombre</option>
                        <option value="2">Mujer</option>
                        <option value="3">Unisex</option>
                    </select>
                </div>
            </div>
    
            <div class="tercero">
                <div class="form">
                    <label>Precio</label>
                    <div class="edit-number">
                        <label>$<%= producto.precio.toFixed(2) %></label>
                        <input type="number" name="precio" value="$$$"> 
                    </div>
                       
                </div>
                    
                <div class="botones">    
                    <button type="submit">Publicar</button>
                    <button type="button">Cerrar</button>
                </div>
                
            </div>
        </form>
        
    </main>

    <!--Footer-->
    <%-include('./partials/footer')%> 

    <!--Scripts-->
    <%-include('./partials/scripts')%> 
    

    


    
</body>
</html>