<!DOCTYPE html>
<html lang="es">
<!--Head-->
<%-include('./partials/head')%> 

<body class="editar-producto">

    <!--Header-->
    <%-include('./partials/header')%>

    <main>
        <h3>Editar Producto</h3>
        <form action="/products/editProduct/<%= producto.id %>?_method=PUT" method="POST">
            <div class="primero">
                <div class="form">
                    <label>Nuevo producto</label>
                    <input type="text" name="producto" placeholder="<%= producto.name %> ">
                </div>
                <div class="form">
                    <label>Descripción del producto</label>
                    <input type="text" name="producto" placeholder="<%= producto.description%>">
                </div>
                <div class="form">
                    <label>Imagen</label>
                    <div class="img">
                        <p><%= producto.image%></p>
                    </div>
                    <div class="galeria">
                        <button>Abrir Galeria</button>
                        <input class="button-file" type="file" name="imagen" accept=".jpg" multiple>
                    </div>
                    
                </div>
            </div>
    
            <div class="segundo">
                <div class="form">
                    <label>Categoria</label>
                    <select name="categorias" id="categorias">
                        <option value="select" hidden selected><%= producto.category %></option>
                        <option value="remeras">Remeras</option>
                        <option value="buzos">Buzos</option>
                        <option value="camperas">Camperas</option>
                        <option value="mochilas">Mochilas</option>
                        <option value="zapatillas">Zapatillas</option>
                        <option value="pantalon">Pantalon</option>
                    </select>
                </div>
                <div class="form">
                    <label>Talle</label>
                    <select name="talle" id="talle">
                        <option value="select" hidden selected>Seleccionar talle</option>
                        <option value="small">S</option>
                        <option value="medium">M</option>
                        <option value="large">L</option>
                        <option value="x-large">XL</option>
                    </select>
                </div>
                <div class="form">
                    <label>Stock</label>
                    <div class="edit-number">
                        <label>Nro</label>
                        <input type="number" name="producto" placeholder="Editar Nro...">

                    </div>
                    
                </div>
                <div class="form">
                    <label>Codigo</label>
                    <input type="number" name="producto" placeholder="Nro...">
                </div>
            </div>
    
            <div class="tercero">
                <div class="form">
                    <label>Precio</label>
                    <div class="edit-number">
                        <label>$<%= producto.price.toFixed(2) %></label>

                        <input type="number" name="producto" placeholder="Editar $$$"> 
                    </div> 
                </div>
                    
                <div class="botones">    
                    <button type="submit">Publicar</button>
                    <button type="button">Cerrar</button>
                </div>
                
            </div>
        </form>
        
    </main>

    <!--Footer-->
    <%-include('./partials/footer')%> 

    <!--Scripts-->
    <%-include('./partials/scripts')%> 
    

    


    
</body>
</html>