<!DOCTYPE html>
<html lang="es">
<!---Head-->
<%-include('./partials/head')%> 
<body class="products">
    <!--Header-->
    <%-include('./partials/header')%>
    
    <!--Main-->
    <main>
        <section>
            
            <% productos.forEach(producto => { %>
                <article>
                    <img src="/img/<%= producto.image[0] %>" alt="">
                    <div class="description">
                        <div class="date">
                            <h4>
                                <%= producto.name %>
                            </h4>
                            <p>$ <%= toThousand(producto.price) %>
                            </p>
                        </div>
                        <div class="date2">
                            <a href="/products/editProduct/<%= producto.id %>"><button type="button" class="edit">Editar</button></a>
                            
                            <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST">
                                <button type="submit" class="delete">Eliminar</button>
                            </form>
                        </div>
                    </div>

                </article>
             
            <% }) %>
          
        </section>

    </main>
    
    <!--Footer-->
    <%- include('./partials/footer')%>
    
    
    

<!--Scripts-->
<%-include('./partials/scripts')%>     
</body>
</html>